@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

body {
    background: linear-gradient(69deg,#ff0000,#ff7700,#fffc00,#1eff00,#002eff,#9a00ff,#002eff,#1eff00,#fffc00,#ff7700,#ff0000);
    background-size: 69420% 69420%;
    animation: gradient-animation 69s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

h1, p {
    font-family: Rubik;
    text-align: center;
}

h1 {
    font-size: 72px;
}

p {
    font-size: 10px;
}

